{% extends 'base.html' %}

{% block title %}Fill the form{% endblock %}

{% block content %}
<div class="container py-5">
    <a class="w-1 bg-primary text-light btn float-right" href="{% url 'calculate:total_amount' %}">Total amount</a>
    <h2 class="mb-5">Track your expenses</h2>
    <form method="post" action="{% url 'calculate:exp_post' %} " class="rounded p-4 border">
        <div class = " d-flex flex-row ">
            <div class="form-group d-flex flex-column justify-content-between py-1">
                <label for="id_date" class = "font-weight-bold mt-2">Date</label>
                <label for="id_choice"  class = "font-weight-bold py-2 ">Choice</label>
                <label for="id_deposit"  class = "font-weight-bold ">Deposit</label>
            </div>
            <div class="form-group d-flex flex-column justify-content-between px-4 ">
                <div class= "py-2 ">
                    {{ form.date }}
                </div>
                <div class= "py-2">
                    {{ form.choice }}   
                </div>
                <div class= "py-2">
                    {{ form.deposit }}
                </div>
            </div>
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Post the Amount</button>
    </form>
    {% comment %} <p class="text-danger"><sub>* Also pass the carry-forward amount as a deposit</sub></p>  {% endcomment %}
</div>
{{ form.media }}
{% endblock %}
